* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: antiquewhite;
  font-family: "Winky Sans", sans-serif;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 15vh;
  background-color: rgb(206, 87, 87);

  & a {
    height: 60%;
    background-color: transparent;

    & img {
      height: 100%;
      background-color: transparent;
    }
  }

  & h1 {
    background-color: transparent;
  }
}